header{
    background-image: url( "imagens/bg.jpg");
    height: 400px;
}
header h1{
    color: aliceblue;
    text-align: justify;
}
.topo{
display: flex;
justify-content: space-between;
gap: 1rem;
color: aliceblue;
}
.caixadebusca{
   display: inline-block;
   justify-content: flex-start;
}