/* Estilo Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #299aeb;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h1.titulo span.ponto {
    color: #299aeb;
}

/*ESTILO DO CABEÇALHO*/
header {
    padding: 40px 4%;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: 2.s;
}

header a:hover {
    color: #fff;
    transform: scale(1.12);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #299aeb69;
    transform: scale(1.12)
}

/*ESTILO DO TOPO DO SITE*/
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}
.topo-do-site p{
    color: #fff;
    font-size: 28px;
    line-height: 28px;
    margin-top: 23px;
    margin-bottom: 23px;
    
}

.topo-do-site .txt-topo-do-site h1 span {
    color: #299aeb;

}

.topo-do-site .txt-topo-do-site p {
    color: #299aeb;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/*ESTILO DAS ESPECIALIDADES */
section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color:#fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transform: .2s;
}

.especialidades .especialidades-box:houver{
    transform: scale(1.25);
box-shadow: 0 0 20px #ffffff69;}

.especialidades .especialidades-box i {
    font-size: 70px;
    color:#299aeb;

}


.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}