* {
    margin: 10;
    padding: 10;
    box-sizing: border;
    
}

/* Aqui você irá adicionar as media queries para tornar a página responsiva complete as lacunas*/
/* Para telas menores que 768px */
@media (max-width: 768px) {
    body {
        background-color: rgba(0, 0, 255, 0.589); 
    }

    main {
        margin: 30px; /* Ajusta a margem do conteúdo principal */
    }

    header {
        background-color: rgba(0, 0, 255, 0.753); 
        color: white;
        padding: 20px;
        text-align: center;
    }

    nav {
        display: inline-block; /* Altera o display para inline-block para permitir alinhamento horizontal */
    }

    ul {
        list-style-type: none; /* Remove os pontos da lista */
        padding: 10px;
    }

    li {
        display:inline-block ; /* Exibe os itens da lista na mesma linha */
        margin-right: 10px; /* Adiciona margem à direita entre os itens */
        font-size: 20px;
    }

    a:link {
        color: #CCFFCC; /* Altera a cor dos links para tom de verde claro */
        text-decoration: none;
    }

    img {
        display: flex;
    }

    div{
        margin: 20% auto;
    }

    footer {
        
        background: color #0000006b;
        color: rgb(255, 255, 255);
        : 20px;/*espaçamento interno*/
         text-align: center;/*alinhamento de texto*/
    }
}

/* Para telas com tamanho mínimo de 768px ou maiores (desktop) */
@media (min-width: 768px) {
    body {
        background-color:rgba(0, 0, 255, 0.37);
    }

    main {
        margin: 10px; /* Reduz a margem do conteúdo principal */
    }

    header {
        background-color: rgb(28, 28, 127);
        padding: 20px;
        color: aliceblue;
        text-align: center; /* Centraliza o conteúdo do cabeçalho */
    }

    nav {
        display: inline; /* Altera o display para inline-block para permitir alinhamento horizontal */
    }

    ul {
        list-style-type: none; /* Remove os pontos da lista */
        padding: 0;
    }

    li {
        display: inline; /* Exibe os itens da lista na mesma linha */
        margin-right: 20px; /* Adiciona margem à direita entre os itens */
    }

    a {
        color: white;
        text-decoration: none;
    }

    img {
        display: flexbox; /* Exibe as imagens normalmente */
        max-height: 500px;  /* Define a largura das imagens 500 em px*/
    }

    div {
        padding: 20px;
        background-color: #AAD0F1;
        margin: 10px;
        text-align: justify;
        width: 80%; /* define um tamanho máximo para as divs em 80% da largura do navegador*/
        margin: 20px auto; /* margens superior e inferiro de 20px e margens laterais automáticas*/
    }

   /* estilização apenas para os parágrafos "filhos" de divs*/
    ___ ___{
        text-align: left;
    }

    footer{
        background-color: rgb(28, 28, 127);
       /* espaçamento interno*/
       _____________ : 20px;
        text-align: center;
        color:rgb(255, 255, 255);
    }

}
